<!DOCTYPE html>
<html>
	<body>
		<style>
			html, body, p {
				margin: 0;
				padding: 0;
			}

			canvas {
				position: absolute;
				left: 0px;
				top: 0px;
			}

			#overlay {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
			}

			#overlay p {
				color: red;
			}
		</style>

		<script id="shader-show-fs" type="x-shader/x-fragment">
			#ifdef GL_ES
				precision highp float;
			#endif

			uniform sampler2D uTexSamp;
			uniform float frames;

			void main(void) {
				vec3 colorTexel = texture2D(uTexSamp, gl_FragCoord.xy / <%= RESOLUTION %>).rgb;
				float alpha = texture2D(uTexSamp, gl_FragCoord.xy / <%= RESOLUTION %>).a;

				vec3 col = colorTexel * log(alpha + 1.0) / (alpha * log(frames + 1.0));

				gl_FragColor = vec4(col, 1.0);
			}
		</script>

		<script id="shader-comp-1-fs" type="x-shader/x-fragment">
			#ifdef GL_ES
				precision highp float;
			#endif

			uniform sampler2D uTexSamp;
			uniform float frames;

			float rand(vec2 co){
			    return fract(sin(dot(co.xy, vec2(12.9898 + frames,78.233))) * (43758.5453));
			}

			// COSH Function (Hyperbolic Cosine) http://machinesdontcare.wordpress.com/2008/03/10/glsl-cosh-sinh-tanh/
			float cosh(float val)
			{
				float tmp = exp(val);
				float cosH = (tmp + 1.0 / tmp) / 2.0;
				return cosH;
			}

			// TANH Function (Hyperbolic Tangent) http://machinesdontcare.wordpress.com/2008/03/10/glsl-cosh-sinh-tanh/
			float tanh(float val)
			{
				float tmp = exp(val);
				float tanH = (tmp - 1.0 / tmp) / (tmp + 1.0 / tmp);
				return tanH;
			}

			// SINH Function (Hyperbolic Sine) http://machinesdontcare.wordpress.com/2008/03/10/glsl-cosh-sinh-tanh/
			float sinh(float val)
			{
				float tmp = exp(val);
				float sinH = (tmp - 1.0 / tmp) / 2.0;
				return sinH;
			}

			void main(void) {
				vec2 tex = gl_FragCoord.xy / <%= RESOLUTION %>;

				vec2 point = texture2D(uTexSamp, tex).rg;

				float l = length(point);
				float a = atan(point.x/point.y);
				float b = atan(point.y/point.x);

				float r = rand(tex);

				if(r < 1.0 / 3.0) {
					//point = vec2(point.x * 0.5, point.y * 0.5);
					point = vec2(cos(3.14 * point.x) * cosh(point.y), -sin(3.14 * point.x) * sinh(point.y));
				} else if(r < 2.0 / 3.0) {
					//point = vec2(point.x * 0.5 + 0.5, point.y * 0.5);
					point = l * vec2(sin(a * l), -cos(a * l));
				} else {
					point = vec2(point.x * 0.5 + 0.25, point.y * 0.5 + 0.5);
				}

				gl_FragColor = vec4(point, 0.0, 1.0);
			}
		</script>

		<script id="shader-comp-2-fs" type="x-shader/x-fragment">
			#ifdef GL_ES
				precision highp float;
			#endif

			uniform sampler2D uTexSamp;

			void main(void) {
				vec2 point = texture2D(uTexSamp, gl_FragCoord.xy / <%= RESOLUTION %>).rg;

				point = vec2(point.x * 0.5 + 0.5, point.y * 0.5);

				gl_FragColor = vec4(point.xy, 0.0, 1.0);
			}
		</script>

		<script id="shader-comp-3-fs" type="x-shader/x-fragment">
			#ifdef GL_ES
				precision highp float;
			#endif

			uniform sampler2D uTexSamp;

			void main(void) {
				vec2 point = texture2D(uTexSamp, gl_FragCoord.xy / <%= RESOLUTION %>).rg;

				point = vec2(point.x * 0.5 + 0.25, point.y * 0.5 + 0.5);

				gl_FragColor = vec4(point.xy, 0.0, 1.0);
			}
		</script>


		<script id="shader-direct-vs" type="x-shader/x-vertex">
			attribute vec3 aVertexPosition;

			void main(void) {
				gl_Position = vec4(aVertexPosition, 1.0);
			}
		</script>

		<script id="shader-points-fs" type="x-shader/x-fragment">
			#ifdef GL_ES
				precision highp float;
			#endif

			varying vec4 fragColor;

			void main(void) {
				gl_FragColor = fragColor;
			}
		</script>

		<script id="shader-points-vs" type="x-shader/x-vertex">
			attribute vec3 aVertexPosition;

			uniform sampler2D uTexSamp;
			uniform vec4 color;

			varying vec4 fragColor;

			// COSH Function (Hyperbolic Cosine) http://machinesdontcare.wordpress.com/2008/03/10/glsl-cosh-sinh-tanh/
			float cosh(float val)
			{
				float tmp = exp(val);
				float cosH = (tmp + 1.0 / tmp) / 2.0;
				return cosH;
			}

			// TANH Function (Hyperbolic Tangent) http://machinesdontcare.wordpress.com/2008/03/10/glsl-cosh-sinh-tanh/
			float tanh(float val)
			{
				float tmp = exp(val);
				float tanH = (tmp - 1.0 / tmp) / (tmp + 1.0 / tmp);
				return tanH;
			}

			// SINH Function (Hyperbolic Sine) http://machinesdontcare.wordpress.com/2008/03/10/glsl-cosh-sinh-tanh/
			float sinh(float val)
			{
				float tmp = exp(val);
				float sinH = (tmp - 1.0 / tmp) / 2.0;
				return sinH;
			}

			const float PI = 3.141592;

			void main(void) {
				gl_PointSize = 1.0;

				vec2 point = texture2D(uTexSamp, aVertexPosition.xy).rg;

				//float r = length(point);
				//float a = atan(point.x/point.y);
				//float b = atan(point.y/point.x);

				//point = 1.0 / (r * r) * point;
				//point = exp(point.x - 1.0) * vec2(cos(3.14 * point.y), sin(3.14 * point.y));
				//point = vec2(cos(3.14 * point.x) * cosh(point.y), -sin(3.14 * point.x) * sinh(point.y));
				//point = vec2(sin(point.x), sin(point.y));
				//point = vec2(point.x * sin(r * r) - point.y * cos(r * r), point.x * cos(r * r) + point.y * sin(r * r));
				//point = 1.0 / r * vec2(cos(a) + sin(r), sin(a) - cos(r));
				//point = r * vec2(sin(a * r), -cos(a * r));
				//point = a / PI * vec2(sin(PI * r), cos(PI * r));
				//point = pow(r, sin(a)) * vec2(cos(a), sin(a));
				//point = 1.0 / r * vec2((point.x - point.y) * (point.x + point.y), 2.0 * point.x * point.y);
				//point = vec2(sin(point.x)/cos(point.y), tan(point.y));
				fragColor = color;
				gl_Position = vec4(point.xy, 0.0, 1.0);
			}
		</script>

		<canvas id="screen"></canvas>

		<div id="overlay">
			<p id="fps-counter"></p>
		</div>

		<script>
			(function() {
				window.requestAnimFrame = window.webkitRequestAnimationFrame || window.mozRequestAnimationFrame || function(callback, element) { setTimeout(callback, 1000 / 60); };

				function initGL(canvas) {
					try {
						var webglOptions = {antialias: false, depth: false};

						var gl =
							canvas.getContext("webgl", webglOptions) ||
							canvas.getContext("experimental-webgl", webglOptions);

						gl.viewportWidth = canvas.width;
						gl.viewportHeight = canvas.height;

						var ext = gl.getExtension("OES_texture_float");
					} catch(e) {

					} finally {
						if (!gl) {
							console.log("Could not initialise WebGL");
						}

						return gl;
					}
				}

				function template(str, replacements) {
					for(var prop in replacements) {
						var val = replacements[prop];

						if(typeof val == "number" && String(val).indexOf(".") == -1) {
							val = val + ".0";
						}

						str = str.replace(new RegExp("<%= " + prop + " %>", "g"), val);
					}

					return str;
				}

				function getShader(id, templateOptions) {
					var shaderScript = document.getElementById(id);

					if (!shaderScript) {
						return null;
					}

					var str = shaderScript.innerHTML;

					str = template(str, templateOptions);

					var shader;

					if (shaderScript.type == "x-shader/x-fragment") {
						shader = gl.createShader(gl.FRAGMENT_SHADER);
					} else if (shaderScript.type == "x-shader/x-vertex") {
						shader = gl.createShader(gl.VERTEX_SHADER);
					} else {
						return null;
					}

					gl.shaderSource(shader, str);
					gl.compileShader(shader);

					if (!gl.getShaderParameter(shader, gl.COMPILE_STATUS)) {
						alert(gl.getShaderInfoLog(shader));
						return null;
					}

					return shader;
				}

				function compileShader(vs, fs, templateOptions) {
					var prog = gl.createProgram();

					gl.attachShader(prog, getShader(vs, templateOptions));
					gl.attachShader(prog, getShader(fs, templateOptions));

					gl.linkProgram(prog);

					if (!gl.getProgramParameter(prog, gl.LINK_STATUS)) {
						throw new Error("Could not initialise shaders");
					}

					return prog;
				}

				var pointsVertexPositionBuffer;
				var quadVertexPositionBuffer;

				function initBuffers() {
					//
					pointsVertexPositionBuffer = gl.createBuffer();

					gl.bindBuffer(gl.ARRAY_BUFFER, pointsVertexPositionBuffer);

					var vertices = [];

					var N = points_size;

					for(var x = 0; x < N; x++) {
						for(var y = 0; y < N; y++) {
							vertices.push(x / N, y / N);
						}
					}

					gl.bufferData(gl.ARRAY_BUFFER, new Float32Array(vertices), gl.STATIC_DRAW);

					pointsVertexPositionBuffer.itemSize = 2;
					pointsVertexPositionBuffer.numItems = N * N;

					gl.vertexAttribPointer(prog_points.vertexPositionAttribute, pointsVertexPositionBuffer.itemSize, gl.FLOAT, false, 0, 0);

					//
					quadVertexPositionBuffer = gl.createBuffer();

					gl.bindBuffer(gl.ARRAY_BUFFER, quadVertexPositionBuffer);

					var squareData = new Float32Array([
						-1, -1,
						1, -1,
						-1, 1,
						1, 1
					]);

					quadVertexPositionBuffer.itemSize = 2;
					quadVertexPositionBuffer.numItems = 4;

					gl.bufferData(gl.ARRAY_BUFFER, squareData, gl.STATIC_DRAW);

					gl.vertexAttribPointer(prog_comp_1.vertexPositionAttribute, quadVertexPositionBuffer.itemSize, gl.FLOAT, false, 0, 0);
				}

				var prog_points, prog_comp_1, prog_comp_2, prog_comp_3, prog_show;

				function initShaders() {
					//
					prog_points = compileShader("shader-points-vs", "shader-points-fs");

					prog_points.vertexPositionAttribute = gl.getAttribLocation(prog_points, "aVertexPosition");
					gl.enableVertexAttribArray(prog_points.vertexPositionAttribute);

					prog_points.color = gl.getUniformLocation(prog_points, "color");

					prog_points.uTexSamp = gl.getUniformLocation(prog_points, "uTexSamp");

					//
					prog_comp_1 = compileShader("shader-direct-vs", "shader-comp-1-fs", {RESOLUTION: points_size});

					prog_comp_1.vertexPositionAttribute = gl.getAttribLocation(prog_comp_1, "aVertexPosition");
					gl.enableVertexAttribArray(prog_comp_1.vertexPositionAttribute);

					prog_comp_1.uTexSamp = gl.getUniformLocation(prog_comp_1, "uTexSamp");
					prog_comp_1.frames = gl.getUniformLocation(prog_comp_1, "frames");

					//
					prog_comp_2 = compileShader("shader-direct-vs", "shader-comp-2-fs", {RESOLUTION: points_size});

					prog_comp_2.vertexPositionAttribute = gl.getAttribLocation(prog_comp_2, "aVertexPosition");
					gl.enableVertexAttribArray(prog_comp_1.vertexPositionAttribute);

					prog_comp_2.uTexSamp = gl.getUniformLocation(prog_comp_2, "uTexSamp");

					//
					prog_comp_3 = compileShader("shader-direct-vs", "shader-comp-3-fs", {RESOLUTION: points_size});

					prog_comp_3.vertexPositionAttribute = gl.getAttribLocation(prog_comp_3, "aVertexPosition");
					gl.enableVertexAttribArray(prog_comp_1.vertexPositionAttribute);

					prog_comp_3.uTexSamp = gl.getUniformLocation(prog_comp_2, "uTexSamp");

					//
					prog_show = compileShader("shader-direct-vs", "shader-show-fs", {RESOLUTION: canvas.width});

					prog_show.uTexSamp = gl.getUniformLocation(prog_show, "uTexSamp");
					prog_show.frames = gl.getUniformLocation(prog_show, "frames");
				}

				var texture, texture1, texture2;

				function initTextures() {
					//
					texture = gl.createTexture();

					gl.activeTexture(gl.TEXTURE0);
					gl.bindTexture(gl.TEXTURE_2D, texture);

					var pixels = [], tSize = points_size;

					for(var i = 0; i < tSize; i++) {
						for(var j = 0; j < tSize; j++) {
							pixels.push(
								-1 + 2 * Math.random(),
								-1 + 2 * Math.random(),
								0,
								1
							);
						}
					}

					gl.texImage2D(gl.TEXTURE_2D, 0, gl.RGBA, tSize, tSize, 0, gl.RGBA, gl.FLOAT, new Float32Array(pixels));

					gl.texParameteri(gl.TEXTURE_2D, gl.TEXTURE_MIN_FILTER, gl.NEAREST);
					gl.texParameteri(gl.TEXTURE_2D, gl.TEXTURE_MAG_FILTER, gl.NEAREST);

					//
					texture1 = gl.createTexture();

					gl.activeTexture(gl.TEXTURE1);
					gl.bindTexture(gl.TEXTURE_2D, texture1);

					gl.texImage2D(gl.TEXTURE_2D, 0, gl.RGBA, tSize, tSize, 0, gl.RGBA, gl.FLOAT, null);

					gl.texParameteri(gl.TEXTURE_2D, gl.TEXTURE_MIN_FILTER, gl.NEAREST);
					gl.texParameteri(gl.TEXTURE_2D, gl.TEXTURE_MAG_FILTER, gl.NEAREST);

					//
					texture2 = gl.createTexture();

					gl.activeTexture(gl.TEXTURE2);
					gl.bindTexture(gl.TEXTURE_2D, texture2);

					gl.texImage2D(gl.TEXTURE_2D, 0, gl.RGBA, grid_size, grid_size, 0, gl.RGBA, gl.FLOAT, null);

					gl.texParameteri(gl.TEXTURE_2D, gl.TEXTURE_MIN_FILTER, gl.NEAREST);
					gl.texParameteri(gl.TEXTURE_2D, gl.TEXTURE_MAG_FILTER, gl.NEAREST);

					//
					texture2 = gl.createTexture();

					gl.activeTexture(gl.TEXTURE2);
					gl.bindTexture(gl.TEXTURE_2D, texture2);

					gl.texImage2D(gl.TEXTURE_2D, 0, gl.RGBA, grid_size, grid_size, 0, gl.RGBA, gl.FLOAT, null);

					gl.texParameteri(gl.TEXTURE_2D, gl.TEXTURE_MIN_FILTER, gl.NEAREST);
					gl.texParameteri(gl.TEXTURE_2D, gl.TEXTURE_MAG_FILTER, gl.NEAREST);

					//
					texture3 = gl.createTexture();

					gl.activeTexture(gl.TEXTURE3);
					gl.bindTexture(gl.TEXTURE_2D, texture3);

					gl.texImage2D(gl.TEXTURE_2D, 0, gl.RGBA, grid_size, grid_size, 0, gl.RGBA, gl.FLOAT, null);

					gl.texParameteri(gl.TEXTURE_2D, gl.TEXTURE_MIN_FILTER, gl.NEAREST);
					gl.texParameteri(gl.TEXTURE_2D, gl.TEXTURE_MAG_FILTER, gl.NEAREST);
				}

				var FBO0, FBO1, FBO2;

				function initFBOs() {
					FBO0 = gl.createFramebuffer();

					gl.bindFramebuffer(gl.FRAMEBUFFER, FBO0);
					gl.framebufferTexture2D(gl.FRAMEBUFFER, gl.COLOR_ATTACHMENT0, gl.TEXTURE_2D, texture, 0);

					//
					FBO1 = gl.createFramebuffer();

					gl.bindFramebuffer(gl.FRAMEBUFFER, FBO1);
					gl.framebufferTexture2D(gl.FRAMEBUFFER, gl.COLOR_ATTACHMENT0, gl.TEXTURE_2D, texture1, 0);

					//
					FBO2 = gl.createFramebuffer();

					gl.bindFramebuffer(gl.FRAMEBUFFER, FBO2);
					gl.framebufferTexture2D(gl.FRAMEBUFFER, gl.COLOR_ATTACHMENT0, gl.TEXTURE_2D, texture2, 0);
				}

				var fps = frames = 0;
				var fpsCounterElement = document.getElementById("fps-counter");

				setInterval(function() {
					fpsCounterElement.innerHTML = fps + " fps";

					fps = 0;
				}, 1000);

				var flag = true;

				function iterateIFS(compShader, color) {
					gl.useProgram(compShader);

					gl.uniform1f(compShader.frames, frames);

					if(flag) {
						gl.bindFramebuffer(gl.FRAMEBUFFER, FBO1);
						gl.uniform1i(compShader.uTexSamp, 0);
					} else {
						gl.bindFramebuffer(gl.FRAMEBUFFER, FBO0);
						gl.uniform1i(compShader.uTexSamp, 1);
					}

					gl.bindBuffer(gl.ARRAY_BUFFER, quadVertexPositionBuffer);
					gl.vertexAttribPointer(compShader.vertexPositionAttribute, quadVertexPositionBuffer.itemSize, gl.FLOAT, false, 0, 0);

					gl.drawArrays(gl.TRIANGLE_STRIP, 0, quadVertexPositionBuffer.numItems);

					//
					gl.viewport(0, 0, grid_size, grid_size);

					if(frames > 20) {
						gl.useProgram(prog_points);

						if(flag) {
							gl.uniform1i(prog_points.uTexSamp, 1);
						} else {
							gl.uniform1i(prog_points.uTexSamp, 0);
						}

						gl.bindBuffer(gl.ARRAY_BUFFER, pointsVertexPositionBuffer);
						gl.vertexAttribPointer(prog_points.vertexPositionAttribute, pointsVertexPositionBuffer.itemSize, gl.FLOAT, false, 0, 0);

						gl.enable(gl.BLEND);

						//
						gl.blendFunc(gl.ONE, gl.ONE);

						gl.bindFramebuffer(gl.FRAMEBUFFER, FBO2);
						gl.uniform4f(prog_points.color, color[0], color[1], color[2], 1);
						gl.drawArrays(gl.POINTS, 0, pointsVertexPositionBuffer.numItems);

						gl.disable(gl.BLEND);
					}

					flag = !flag;
				}

				function drawScene() {
					gl.viewport(0, 0, points_size, points_size);

					gl.disable(gl.BLEND);

					var rand = Math.floor(Math.random()*3);

					//if(rand == 0) {
					iterateIFS(prog_comp_1, [0.2, 0.43, 1.0]);
					//} else if(rand == 1) {
						//iterateIFS(prog_comp_2, [0.6, 0.43, 0.23]);
					//} else if(rand == 2) {
						//iterateIFS(prog_comp_3, [0.23, 0.7, 0.123]);
					//}

					//
					gl.viewport(0, 0, canvas_size, canvas_size);

					gl.useProgram(prog_show);

					gl.uniform1i(prog_show.uTexSamp, 2);
					gl.uniform1f(prog_show.frames, frames);

					gl.bindFramebuffer(gl.FRAMEBUFFER, null);

					gl.bindBuffer(gl.ARRAY_BUFFER, quadVertexPositionBuffer);
					gl.vertexAttribPointer(prog_comp_1.vertexPositionAttribute, quadVertexPositionBuffer.itemSize, gl.FLOAT, false, 0, 0);

					gl.drawArrays(gl.TRIANGLE_STRIP, 0, quadVertexPositionBuffer.numItems);

					//
					fps++;
					frames++;

					//requestAnimFrame(drawScene);
					setTimeout(drawScene, 0);
				}

				var gl;
				var canvas;
				var canvas_size = grid_size = 1024;
				var points_size = 256;

			  	function main() {
					canvas = document.getElementById("screen");

					canvas.width = canvas_size;
					canvas.height = canvas_size;

					gl = initGL(canvas);

					initShaders();
					initBuffers();
					initTextures();
					initFBOs();

					drawScene();
				}

				main();
			})();
		</script>
	</body>
</html>
